<footer>
  <p>Copyright 2017 Specific Assembly. All rights reserved.</p>
  <ul>
    <li>TERMS & CONDITIONS</li>
    <li>|</li>
    <li>PRIVACY STATEMENT</li>
    <li>|</li>
    <li>ABOUT US</li>
  </ul>
</footer>