<footer>
  <p>Copyright 2017 Specific Assembly. All rights reserved.</p>
  <ul>
    <li><a href="">TERMS & CONDITIONS</a></li>
    <li>|</li>
    <li><a href="">PRIVACY STATEMENT</a></li>
    <li>|</li>
    <li><a href="">ABOUT US</a></li>
  </ul>
</footer>