/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+27px');
/* --- End Fonts --- */


/* --- Element Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEE;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type="text"], input[type="password"] {
  padding: .3em;
  font-size: .8em;
}

input[type="submit"] {
  /* Make Submit button look flat */
  background-color: #000;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.slide input[type="submit"] {
  color: #EEE;
  padding: .7em 1em;
  font-size: .6em;
  transform: translateY(-1px);
  transition: .3s all ease;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.slide input[type="submit"]:hover {
  background-color: #C44E4E;
}

.slide input[type="submit"]:active {
  transform: translateY(1px);
  outline: none;
}

input[type="submit"]:focus {
  outline: none;
}

::placeholder {
  color: #CCC;
  font-size: .8em;
}

/* --- End Elements --- */


/* --- Generic Classes --- */

.hide {
  display: none;
}

/* --- End Generic Classes ---*/


/* --- Nav-bar Styles --- */
nav {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  height: 60px;
  width: 100%;

  background-color: #000;
  color: #EEE;

  /* Flex Properties */
  justify-content: space-between;
  align-items: center;
}

.spacer {
  height: 60px;
}

nav h2 {
  display: inline;
  margin-left: 50px;
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

nav li {
  font-size: .7em;
  margin: 0 10px;
}

/*
  Found this neat underline animation effect here:
  http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
#logout {
  height: 1.1em;
  background: none;
}

li > a, h2 > a, input#logout {
  position: relative;
  color: #EEE;
}

li > a:before, input#logout:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #EEE;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before, input#logout:hover:before {
  text-decoration: underline;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav h2 > a:hover {
  text-decoration: none;
}

/* --- End Nav-bar ---*/


/* --- Main Styles --- */

/* Banner Properties */
.banner {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
}

.banner > div {
  position: absolute;
  display: inline;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner-image {
  background: url(/img/banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.banner-screen {
  background-color: #000;
  opacity: .5;
}

.banner-copy-inner {
  position: relative;
  color: #EEE;
  padding: 0 50px;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}

.banner-copy-inner p {
  margin-top: 75px;
  font-size: 2em;
  line-height: 1.5;
}

/* Slide Properties */
.slide {
  /* Height is calculated by 100% view height minus Nav-bar + Footer */
  height: calc(100vh - 100px);
  padding: 50px;
}

.long {
  height: 100%;
}

/* Post Properties */
.post {
  margin: 25px 0;
  padding: 25px 50px;
  background-color: #DDD;
}

.post p {
  margin: 25px 0;
  font-size: .8em;
  line-height: 1.5;
}

/* Slide Form Properties */

.slide > form {
  padding-left: 50px;
}

.slide > form > div {
  margin: 20px 0;
}

.slide > form label {
  display: inline-block;
  width: 160px;
  margin-right: 10px;
  font-size: .8em;
}

.slide > form input[type="text"] {
  width: 200px;
}

.slide > form select {
  width: 200px;
  font-size: .8em;
  height: 2em;
  transform: translateY(-.5em);
}

.slide > form > label {
  margin-left: 10px;
}

/* Profile Properties */

.profile {
  margin-top: 50px;
}

.profile h4 {
  margin: 10px 0;
}

.profile span {
  display: inline-block;
  width: 4em;
}

/* --- End Main --- */


/* --- Footer Styles --- */

footer {
  display: flex;
  position: relative;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #EEE;

  /* Flex Properties */
  justify-content: space-between;
  align-items: center;
  font-size: .5em;
}

footer p {
  margin-left: 50px;
}

footer ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
footer li {
  margin: 0 5px;
}


/* --- End Footer --- */

/*========================