<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/js/main.js" defer></script>
</head>
<body>
<header>
  <h1>Specific Assembly</h1>
</header>
<main>
  
</main>
<footer>
  
</footer>
</body>
</html>