<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>

<main>
  <div class="banner">
    <div class="banner-image"></div>
    <div class="banner-screen"></div>
    <div class="banner-copy">
      <div class="banner-copy-inner">
        <h2>S P E C I F I C&nbsp;&nbsp;&nbsp;A S S E M B L Y</h2>
        <p>We are the foremost producers of hardwood bleachers, low-height couches, and whiteboard surfaces</p>
      </div>
    </div>
  </div>
  <section class="slide long">
    <h3>COMPANY NEWS</h3>
    <section class="post">
      <h5>&#60; 3-20-2017 &#8594; We're hiring!</h5>
      <p>
        As our company continues to grow, we're looking to staff up for new and exciting projects! Check out our job openings below:
      </p>
      <ul>
        <li>
          <h5><a href="/careers/1">Front-end Developer</a></h5>
        </li>
        <li>
          <h5><a href="/careers/2">React/Front-end Developer</a></h5>
        </li>
        <li>
          <h5><a href="/careers/3">Software Engineer</a></h5>
        </li>
        <li>
          <h5><a href="/careers/4">Senior Software Engineer</a></h5>
        </li>
        <li>
          <h5><a href="/careers/5">UX Designer</a></h5>
        </li>
      </ul>
    </section>
    <section class="post">
      <h5>&#60; 2-1-2017 &#8594; Just moved into our new NYC office</h5>
      <p>
        Exciting day! We've just relocated our offices to flatiron - Silicon Alley!
      </p>
    </section>
  </section>
</main>

<% include ../partials/footer %>
</body>
</html>