<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<main>
  <h3>Front-end Developer</h3>
  <form action="/applications" method="POST">
    <input type="text" name="application[street]" placeholder="Street Address">
    <input type="text" name="application[city]" placeholder="City">
    <input type="text" name="application[state]" placeholder="State">
    <input type="text" name="application[country]" placeholder="Country">
    <input type="text" name="application[zip_code]" placeholder="Zip Code">
    <input type="text" name="application[phone_number]" placeholder="Phone Number">
    <input type="text" name="application[work_auth]" placeholder="Do you require U.S. work authorization?">
    <input type="text" name="application[salary_req]" placeholder="Salary Requirement">
    <input type="text" name="application[worked_here]" placeholder="Have you ever worked at Specific Assembly?">
    <input type="text" name="application[date_available]" placeholder="Date available to start?">
    <input type="text" name="application[education_level]" placeholder="Highest level of education">
    <input type="text" name="application[school]" placeholder="School">
    <input type="text" name="application[cover_letter]" placeholder="Link to Cover Letter">
    <input type="text" name="application[resume]" placeholder="Link to Resume">
    <input type="submit" value="Apply">
  </form>
</main>
<% include ../partials/footer %>
</body>
</html>