<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<main>
  <div class="slide">
    <h1>Thank you for applying, we'll be in touch shortly!</h1>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>