<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<main>
  <div class="slide">
    <h3>ACCOUNT DETAILS</h3>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>