<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<main>
  <div class="slide">
    <h3>ACCOUNT DETAILS</h3>
    <div class="profile">
      <h3><span>Name:</span> <%= user.first_name %> <%= user.last_name %></h3>
      <h3><span>Email:</span> <%= user.email %></h3>
      <form action="/account/edit" method="GET"><input type="submit" value="EDIT"></form>
    </div>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>