<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<main>
  <div class="slide">

    <form action="/account" method="POST">
      <h3>CREATE AN ACCOUNT</h3>
      <div class="split">
        <div>
          <label for="first-name">First Name</label>
          <input id="first-name" type="text" name="user[first_name]" placeholder="John">
        </div>
        <div>
          <label for="last-name">Last Name</label>
          <input id="last-name" type="text" name="user[last_name]" placeholder="Smith">
        </div>
        <div>
          <label for="email">Email</label>
          <input id="email" type="text" name="user[email]" placeholder="johnsmith@mail.com">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" name="user[password]" placeholder="Password">
        </div>
        <input type="submit" value="REGISTER">
      </div>
    </form>
  </div>
</main>
<% include ../partials/footer %>
</body>
</html>