<!DOCTYPE html>
<html>
<head>
  <title>Specific Assembly</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/js/main.js" defer></script>
</head>
<body>
<header>
  <h1>Specific Assembly</h1>
  <h3>Sign Up Page</h3>
</header>
</body>
</html>